<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.name %>
<ul>
  <% @reviews.each do |review| %>
    <li><%= review.comment %></li>
  <% end %>
</ul>

<ol> 
  <% @shops.each do |shop| %>
    <li>
      <%= shop.name %>
      <%= shop.latitude %>
      <%= shop.longitude %>
    </li>
  <% end %>
</ol>

<h2>goolemap</h2>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>