<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.name %>
<ul>
  <% @reviews.each do |review| %>
    <li><%= review.comment %></li>
  <% end %>
</ul>

<ol> 
  <% @shops.each do |shop| %>
    <li>
      <%= shop.name %>
      <%= shop.latitude %>
      <%= shop.longitude %>
    </li>
  <% end %>
</ol>

<h2>googlemap</h2>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
let map;

const shops = [
  <% @shops.each do |shop| %>
    {
      lat: <%= shop.latitude %>,
      lng: <%= shop.longitude %>
    },
  <% end %>
];

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.6894, lng: 139.6917},
    zoom: 6,
  });

  shops.forEach(shop=> {
    marker = new google.maps.Marker({
      position:  {lat: shop.lat , lng: shop.lng},
      map: map
    });
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>